:root {
  --main-bg-color: #5785ff;
  --main-bg-gradient: linear-gradient(145deg, #5d8eff, #4e78e6);
  --main-bg-gradient-inverted: linear-gradient(145deg, #4e78e6, #5d8eff);
  --secondary-bg-color: #30353a;
  --secondary-bg-gradient: linear-gradient(145deg, #33393e, #2b3034);
  --box-shadow: 9px 9px 26px #1e2125, -5px -5px 26px #42494f;
  --text-color: #eee;
  --border-color: #333;
  --active-song-bg: #4164c1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  color: var(--text-color);
}

body {
  background-color: #dbe3ee;
  max-height: 100vh;
  font-size: 2.5rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: normal;
}

.player {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.upper-buttons {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  position: relative;
}

.upper-buttons .button.button-medium.active {
  background: var(--main-bg-gradient-inverted);
  color: #fff;
  margin-left: 1rem;
}

.upper-buttons .button.button-medium:last-child {
  margin-left: 1rem;
}

.img-container {
  margin-top: 2rem;
  position: relative;
  background: linear-gradient(145deg, #d0d3d7, #f7faff);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex-grow: 3;
  overflow: hidden;
}

.img-container img {
  position: absolute;
  flex-shrink: 0;
  width: 100%;
  background: transparent;
}

.progress-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  width: 90%;
}

.progress-time {
  font-size: 1.8rem;
}

.progress-bar {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 0.8rem;
  width: 100%;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 0 1rem;
}

.progress {
  background-color: var(--main-bg-color);
  border-radius: 5px;
  height: 100%;
  width: 0;
  transition: all 0.1s linear;
  position: relative;
}

.progress::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 1rem;
  height: 1rem;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  transform: translate(-50%, -0.2rem);
  border: 2px solid var(--border-color);
}

.navigation {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 90%;

  position: relative;
}

.navigation .active {
  background: var(--main-bg-gradient-inverted);

  color: #fff;
}

.button {
  border: 3px solid var(--border-color);
  overflow: hidden;
  font-size: 1.5rem;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: var(--secondary-bg-gradient);
  box-shadow: var(--box-shadow);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-color);
}

.button:focus {
  outline: 0;
}

.button.button-small {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.button-medium {
  width: 4rem;
  height: 4rem;
}

.button.button-play {
  background: var(--main-bg-gradient);
  font-size: 3rem;
  padding-left: 0.5rem;
  color: #fff;
}

.player.play .button.button-play {
  background: var(--main-bg-gradient-inverted);
  padding-left: 0;
}

.songs-list {
  box-shadow: var(--box-shadow);
  width: 90%;
  height: 35%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  flex-grow: 1;
  position: relative;
}

.songs-list::-webkit-scrollbar {
  display: none;
}

.songs-list .song {
  margin: 0;
  width: 100%;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: min-content;
  padding: 1.5rem;
}

/* .songs-list .song:hover {
  background: var(--active-song-bg);
  border-radius: 15px;
} */

.songs-list .song :nth-child(2) {
  flex-grow: 1;
  margin-left: 2rem;
}

.songs-list .song :nth-child(2) :last-child {
  margin-left: 0;
}

.songs-list .song:last-child {
  border-bottom: none;
}

.songs-list .song.active {
  background: var(--active-song-bg);
  border-radius: 15px;
}

.player.play .songs-list .song.active .button.button-medium {
  background: var(--main-bg-gradient-inverted);
  color: #fff;
  padding-left: 0;
}

.dropDownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  box-shadow: var(--box-shadow);
  background: var(--secondary-bg-gradient);
  border-radius: 15px;
  margin-top: 1rem;
  font-size: 2rem;
  animation-name: menuAppears;
  animation-duration: 0.3s;
}

.dropDownMenu ul li {
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* .dropDownMenu ul li:hover {
  background: var(--active-song-bg);
  border-radius: 15px;
} */

.dropDownMenu ul li.active {
  background: var(--active-song-bg);
  border-radius: 15px;
  color: var(--text-color);
}

.dropDownMenu ul li.active .button.button-small {
  background: var(--main-bg-color);
}

.dropDownMenu ul li span {
  margin-right: 1rem;
}

@keyframes menuAppears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes longButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (orientation: landscape) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .player {
    height: 80vh;
    width: 40vh;
  }
  @media only screen and (max-height: 800px) {
    .player {
      height: 90vh;
      width: 45vh;
    }
  }
}

.loading {
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
}
.loading div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-bg-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
}
@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media (hover: hover) and (pointer: fine) {
  .songs-list .song:hover {
    background: var(--active-song-bg);
    border-radius: 15px;
  }

  .dropDownMenu ul li:hover {
    background: var(--active-song-bg);
    border-radius: 15px;
  }
}
